.flash-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px 40px 15px 20px;
    margin: 20px auto;
    max-width: 600px;
    position: relative;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.close-msg-flash {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Centre verticalement */
    right: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #155724;
    font-size: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s;
}
.close-msg-flash:hover {
    background-color: rgba(0,0,0,0.1);
}